@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: 
      /* 영어 대문자, 영어 소문자 */ U+0041-005A, U+0061-007A,
        /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060,
        U+007B-007E;
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../font/Roboto-Bold.ttf");
    unicode-range: 
      /* 한글, 영어 대문자, 영어 소문자 */ U+0041-005A,
        U+0061-007A, /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040,
        U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
    unicode-range: U+AC00-D7A3;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

:root {
    --swiper-navigation-size: 20px;
}

.slider {
    padding: 10px;
    color: #fff;
}

/* 세부 */
.slider .swiper-container1 {
    width: 5.5vw;
    height: 27vw;
    position: absolute;
    top: 28%;
    left: 37%;
    /* top: -16%;
    left: 26.5vw; */
    margin: 2% 0 1% 1%;
}

/* 전체 */
.slider .swiper-container2 {
    width: 27vw;
    height: 27vw;
    position: absolute;
    top: 28%;
    left: 8.8%;
    margin: 2% 0 1% 1%;
    /* padding-bottom: 5vh; */
}

/* 버튼 */
.swiper-button-prev {
    top: 95.5%;
    left: 22%;
    color: #3cda9f;
    z-index: 100;
}

.swiper-button-next {
    top: 95.5%;
    left: 75%;
    color: #3cda9f;
    z-index: 100;
}

/* bullet */
.swiper .swiper-pagination-bullet {
    background-color: #3cda9f;
    /* margin: 0 10px; */
}

.slider__flex {
    display: flex;
    align-items: flex-start;
}
.slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
}
.slider__prev,
.slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
    outline: none;
}
.slider__thumbs {
    height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
    transition: 0.25s;
    opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
    opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
    opacity: 1;
}
.slider__images {
    height: 400px;
    width: 100%;
}
/* .slider__images .slider__image img {
    transition: 3s;
}
.slider__images .slider__image:hover img {
    transform: scale(1.1);
} */
.slider__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 767.98px) {
    .slider__flex {
        flex-direction: column-reverse;
    }
    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }
    .slider__images {
        width: 100%;
    }
    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
        height: auto;
        width: 32px;
    }
}
