@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: 
        /* 영어 대문자, 영어 소문자 */ U+0041-005A,
        U+0061-007A, /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040,
        U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../font/Roboto-Bold.ttf");
    unicode-range: 
        /* 한글, 영어 대문자, 영어 소문자 */ U+0041-005A,
        U+0061-007A, /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040,
        U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
    unicode-range: U+AC00-D7A3;
}

.Discover {
    margin: 100px 170px;
}

.Discover_feelings {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-family: Elsie;
    margin-bottom: 30px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.2);
    border-radius: 10px 10px 10px 10px;
}

.image {
    width: 30%;
    height: 290px;
    display: flex;
    border: #ffffff;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

.user_data {
    width: 80%;
    height: 270px;
    text-align: left;
    position: absolute;
    padding: 10px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    left: 20%;
    background: linear-gradient(
        to left,
        rgb(1, 122, 228) 90%,
        rgba(0, 86, 161, 0)
    );
    border-radius: 0px 10px 10px 0px;
}

#name {
    font-family: "AppleSDGothicNeoB00", "Roboto-bold";
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    margin: 5px;
    top: 30%;
    left: 5%;
}

#intro {
    font-family: "AppleSDGothicNeoM00", "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    margin: 5px;
    top: 30%;
    left: 5%;
}

#type {
    font-family: "AppleSDGothicNeoM00", "Roboto-bold";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    margin: 5px;
    margin-top: 15px;
    top: 30%;
    left: 5%;
}

#feed_persona {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

#feed_title {
    font-family: "AppleSDGothicNeoB00", "Roboto-bold";
    font-weight: 400;
    font-size: 22px;
}

#user_id {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    margin: 20px;
}
