@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

.per_card,
.per_card2 {
    width: 13%;
    /* height: 21.5vw; */
    padding-bottom: 25%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: -6vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.per_card2 {
    top: -3vh;
}

#card1 {
    z-index: 5;
}

#card2 {
    z-index: 4;
}

#card3 {
    z-index: 3;
}

#card4 {
    z-index: 2,
}

#card5 {
    z-index: -1,
}

#persona_name {
    position: absolute;
    bottom: 11vw;
    font-family: 'Roboto','AppleSDGothicNeoM00';
    width: 200%;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 0.3%;
    transform: rotate(270deg);
    left: -15%;
    color: white;
}

#feed_title {
    position: absolute;
    top: 2.5vw;
    font-family: Roboto, AppleSDGothicNeoB00;
    font-weight: 400;
    font-size: 1.1vw;
    margin-bottom: 0.5vw;
}

#feed_body {
    position: absolute;
    top: 4vw;
    font-family: AppleSDGothicNeoM00;
    font-weight: 400;
    font-size: 0.7vw;
    line-height: 150%;
    padding-right: 7%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#feed_date_time {
    position: absolute;
    bottom: 1.2vw;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.6vw;
}