@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

.feelings {
    width: 30%;
    padding-bottom: 25%;
    display: flex;
    flex-direction: column;
    margin: 2.5% 1.5%;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.feelings:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}
.feelings_content,
.feelings_content2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -3.5%;
    bottom: -1vh;
    padding-left: 7%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 0px 0px 10px 10px;
}

.feelings_content {
    height: 28%;
}
.feelings_content2 {
    height: 50%;
    transition-property: height;

    transition: 500ms;
    bottom: -4vh;
}

#feed_persona {
    position: absolute;
    top: 1.2vw;
    font-family: Roboto, AppleSDGothicNeoM00;
    font-weight: 600;
    font-size: 0.8vw;
    margin-bottom: 0.3%;
}

#feed_title {
    position: absolute;
    top: 2.5vw;
    font-family: Roboto, AppleSDGothicNeoB00;
    font-weight: 400;
    font-size: 1.1vw;
    margin-bottom: 0.5vw;
}

#feed_body {
    position: absolute;
    top: 4vw;
    font-family: AppleSDGothicNeoM00;
    font-weight: 400;
    font-size: 0.7vw;
    line-height: 150%;
    padding-right: 7%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#feed_date_time {
    position: absolute;
    bottom: 1.2vw;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.6vw;
}

#feed_image {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    width: 4.5vw;
    height: 4.5vw;
    z-index: 10;
    right: 8%;
    top: -2vw;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.05));
}
#user_id {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.8vw;
    color: #ffffff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    margin: 3%;
}

#btn {
    position: absolute;
    right: 8%;
    bottom: 1.2vw;
    padding: 0.3vw 0.5vw;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: #3cda9f;
    border: 1.5px solid #3cda9f;
    box-shadow: 0px 2px 30px rgba(0, 67, 101, 0.08);
    border-radius: 5px;
    color: white;
    font-family: "AppleSDGothicNeoM00";
    font-size: 0.7vw;
    cursor: pointer;
    width: 21%;
}

/* New Feelings */
.new_feelings {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    width: 97.5%;
    margin-bottom: 4%;
    height: 22vw;
    /* border: 1px solid rgb(105, 105, 105); */
}

.new_feelings::-webkit-scrollbar {
    display: none;
}
