@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

#footer_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}
#footer_logo {
    font-family: "Shrikhand";
    font-size: 2vmax;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 5vw;
    font-style: italic;
}

#footer_detail {
    margin-top: 0;
    margin-left: 5vw;
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 1.3vmax;
    color: #ffffff;
}

#copyright {
    display: flex;
    font-family: "AppleSDGothicNeoM00";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vmin;
    color: #ffffff;
    width: 34%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#contribute p {
    font-family: "AppleSDGothicNeoM00";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vmin;
    color: #ffffff;
    margin: 0.2vmin 1.5vmin;
}

#role p {
    font-family: "AppleSDGothicNeoM00";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vmin;
    color: #ffffff;
    margin: 0.2vmin 1.5vmin;
}

#created {
    display: flex;
    align-items: center;
}
