@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

body {
    margin: 0;
}
.visible_header {
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 67, 101, 0.1);
    z-index: 100;
    margin-bottom: 50px;
    transition: top 0.8s ease-out;
}

.hidden_header {
    position: sticky;
    transition: top 0.8s ease-out;
    height: 8vh;
    top: -8vh;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 67, 101, 0.1);
    z-index: 100;
    margin-bottom: 50px;
}
#header_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #3cda9f;
    font-weight: 400;
    font-family: "Shrikhand";
    font-size: 4.5vmin;
    left: 50%;
}

#bell {
    position: absolute;
    right: 10vw;
    top: 50%;
    transform: translateY(-50%);
}

button {
    border: none;
    background-color: white;
}

.customModal {
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    font-family: "AppleSDGothicNeoB00";
    font-size: 1vw;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -1;
    background-color: #ffffff;
    background-color: transparent;
}

.News {
    position: relative;
    text-align: left;
    width: 100%;
}

/* hr {
    border-color: rgb(230, 228, 228);
    border-width: 0.1px;
} */

.close_search {
    box-sizing: border-box;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    border: 0.1vw solid #d9d9d9;
    font-size: 1vw;
    height: 1.7vw;
    border-radius: 2vw;
    width: 18vw;
    background-image: url("../../../public/images/search.png");
    background-repeat: no-repeat;
    background-size: 1vw 1vw;
    background-position: 0.5vw;
    padding-left: 2vw;
}

.close_search:focus,
.open_search:focus {
    outline: none;
}
.open_search {
    font-family: "AppleSDGothicNeoM00";
    box-sizing: border-box;
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    border: transparent;
    font-size: 1vw;
    width: 17vw;
    background-color: transparent;
    background-image: url("../../../public/images/search.png");
    background-repeat: no-repeat;
    background-size: 1vw 1vw;
    background-position: 0.5vw;
    padding-left: 2vw;
}
