@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}
body {
    margin: 0;
}
.header {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 8vh;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 67, 101, 0.1);
    z-index: 100;
}
#header_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #3cda9f;
    font-weight: 400;
    font-family: "Shrikhand";
    font-size: 4.5vmin;
    left: 50%;
}
