@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

/* .persona_data_0{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
    width: 1000px;
    position: absolute;
    display: flex;
    color: red;
}

.persona_data_1{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
    top: -93vw;
    left: 9.4vw;
    position: relative;
    display: flex;
    color: red;
}

.persona_data_2{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
    top: -66vw;
    left: -3.3vw;
    position: relative;
    display: flex;
    color: red;
}

.persona_data_3{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
    top: -38vw;
    left: -8vw;
    position: relative;
    display: flex;
    color: red;
}

.persona_data_4{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
    top: -40vw;
    left: 40vw;
    position: relative;
    display: flex;
    color: red;
}

a {
    width: 1000px;
    position: relative;
} */

.persona_data_0_out {
    position: absolute;
    top: 29.5vw;
    left: 29.7vw;
    color: red;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
}

.persona_data_1_out {
    position: absolute;
    top: 56.5vw;
    left: 29.7vw;
    color: red;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
}

.persona_data_2_out {
    position: absolute;
    top: 83.5vw;
    left: 29.7vw;
    color: red;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
}

.persona_data_3_out {
    position: absolute;
    top: 110.5vw;
    left: 29.7vw;
    color: red;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
}

.persona_data_4_out {
    position: absolute;
    top: 137.5vw;
    left: 29.7vw;
    color: red;
    font-style: "AppleSDGothicNeoM00", "Roboto";
    font-size: 1vw;
}