@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

.persona_data_4_data_in{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    color: white;
}

.persona_data_4_img_in {
    margin-right: -20%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.detailPersona4-1 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-24.5vw;
    left: 2.8vw;
}

.detailPersona4-2 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-24.5vw;
    left: -2.8vw;
}

.detailPersona4-3 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-46.5vw;
    left: -7.8vw;
}

.detailPersona4-4 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-68.5vw;
    left: -12.8vw;
}

.row_image4{
    display: inline;
    flex-direction: row;
    position: absolute;
}

#persona4-1{
    z-index: 1;
    width: 13.5vw;
}
#persona4-1:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona4-2{
    z-index: 2;
    width: 13.5vw;
}
#persona4-2:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona4-3{
    z-index: 3;
    width: 13.5vw;
}
#persona4-3:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona4-4{
    z-index: 4;
    width: 13.5vw;
}
#persona4-4:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}
