@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

.persona_data_1_img_in {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 10%;
    margin-right: 20%;
}

/* 실제 카드 */
/* #persona_detail {
    width: 15vw;
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    margin-left: 10%;
    margin: 20%;
    flex-direction: row;
}

#persona_detail:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} */

/* 사진 안 이름 */
#persona_card {
    color: rgb(0, 0, 0);
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    transform-origin: left;
    display: flex;
    position: relative;
    width: 100%;
    top:42%;
    left:165%;
}

.row_image {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.detailPersona0{
    width:13vw;
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    z-index: 0;
}
.detailPersona0:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} 

.detailPersona1 {
    width:13vw;
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    z-index: 1;
}
.detailPersona1:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} 

.detailPersona2 {
    width:13vw;
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    z-index: 2;
}
.detailPersona2:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} 

.detailPersona3 {
    width:13vw;
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    z-index: 3;
}
.detailPersona3:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} 


#persona{
    z-index: 1;
    width: 13.5vw;
}
/* #persona:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} */

/* #persona1-2 {
    z-index: 2;
    width: 13.5vw;
}
#persona1-2:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}

#persona1-3 {
    z-index: 3;
    width: 13.5vw;
}
#persona1-3:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}

#persona1-4 {
    z-index: 4;
    width: 13.5vw;
}
#persona1-4:hover {
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
} */


#persona_card1 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: absolute;
    left: 5vw;
    top: 13vw;
}

#persona_card2 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card3 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card4 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}
