@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: 
        /* 영어 대문자, 영어 소문자 */ U+0041-005A,
        U+0061-007A, /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040,
        U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../font/Roboto-Bold.ttf");
    unicode-range: 
        /* 한글, 영어 대문자, 영어 소문자 */ U+0041-005A,
        U+0061-007A, /* 숫자, 특수문자 */ U+0030-0039, U+0020-002F, U+003A-0040,
        U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
    unicode-range: U+AC00-D7A3;
}

.persona_data_0_data_in{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    color: white;
}

.persona_data_0_img_in {
    margin-right: -20%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.detailPersona0-1 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-132.5vw;
    left: 50vw;
}

.detailPersona0-2 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-132.5vw;
    left: 45vw;
}

.detailPersona0-3 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-132.5vw;
    left: 40vw;
}

.detailPersona0-4 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-132.5vw;
    left: 35vw;
}

.row_image0{
    display: flex;
    flex-direction: row;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    /* position: relative; */
}

#persona0-1{
    z-index: 1;
    width: 13.5vw;
}
#persona0-1:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona0-2{
    z-index: 2;
    width: 13.5vw;
}
#persona0-2:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona0-3{
    z-index: 3;
    width: 13.5vw;
}
#persona0-3:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona0-4{
    z-index: 4;
    width: 13.5vw;
}
#persona0-4:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}

#persona_card1 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card2 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card3 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card4 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}