@font-face {
    font-family: "Shrikhand";
    src: url("../font/Shrikhand-Regular.otf");
}

@font-face {
    font-family: "Elsie";
    src: url("../font/Elsie-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}

.persona_data_3_data_in{
    font-style: "AppleSDGothicNeoM00", "Roboto";
    color: white;
}

.persona_data_3_img_in {
    margin-right: -20%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.detailPersona3-1 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-51.5vw;
    left: 13.2vw;
}

.detailPersona3-2 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-51.5vw;
    left: 8.2vw;
}

.detailPersona3-3 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top:-73.5vw;
    left: 3.2vw;
}

.detailPersona3-4 {
    /* width: 50%; */
    height: 22vw;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    display: inline;
    top: -95.5vw;
    left: -2.2vw;
}

.row_image3{
    display: inline;
    flex-direction: row;
    position: absolute;
}

#persona3-1{
    z-index: 1;
    width: 13.5vw;
}
#persona3-1:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona3-2{
    z-index: 2;
    width: 13.5vw;
}
#persona3-2:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona3-3{
    z-index: 3;
    width: 13.5vw;
}
#persona3-3:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona3-4{
    z-index: 4;
    width: 13.5vw;
}
#persona3-4:hover{
    transition: 400ms all ease-in-out;
    transform: translateY(-3vh);
}


#persona_card1 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card2 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card3 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}

#persona_card4 {
    color: white;
    font-style: "AppleSDGothicNeoB00", "Roboto-bold";
    font-size: 1.3vw;
    z-index: 100;
    transform: rotate(270deg);
    position: relative;
    left: 5vw;
    top: 13vw;
}
