/* 공통 속성 */
.wrap {
    margin: 5vw 8vw;
}

.wrap2 {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-family: Elsie;
    font-size: 2.2vw;
    margin-bottom: 0;
}

/* Navbar */
.icon {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 40%;
    right: 2%;
}
