/* 공통 속성, 마이페이지, 로그아웃 css */

@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url("../font/AppleSDGothicNeoB.ttf");
}
@font-face {
    font-family: "AppleSDGothicNeoM00";
    src: url("../font/AppleSDGothicNeoM.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "AppleSDGothicNeoEB00";
    src: url("../font/AppleSDGothicNeoEB.ttf");
}
/* 공통 속성 */
.wrap {
    margin: 5vw 8vw;
}

.wrap2 {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-family: Elsie;
    font-size: 2.2vw;
    margin-bottom: 0;
}

.personaTitle {
    font-family: Elsie;
    font-size: 2.2vw;
    margin: 5vw 8vw 0 8vw;
}

.cardWrap {
    position: relative;
    margin: 0 8vw 5vw 8vw;
}

/* Navbar */
.icon {
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    padding: 0.7vw;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 40%;
    right: 2%;
}
/* Mypage card */
.card {
    box-sizing: border-box;
    padding: 3vw;
    position: relative;
    width: 96%;
    height: 25vw;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.image_box {
    position: absolute;
    right: 2vw;
    width: 21vw;
    height: 21vw;
    top: 2vw;
    object-fit: cover;
    border-radius: 10px;
}

.user_id {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    text-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
}

.user_name {
    font-family: "AppleSDGothicNeoEB00";
    font-size: 3vw;
}

.user_memo {
    font-family: "AppleSDGothicNeoM00";
    font-size: 1vw;
}

.br_style {
    background: white;
    width: 50%;
    margin-left: 0;
    border: 0;
    height: 1.5px;
}

.post {
    font-family: "AppleSDGothicNeoM00";
    font-size: 1vw;
    text-align: center;
    line-height: 2vw;
    display: inline-flex;
    padding: 1% 5% 0 1%;
}

.follower {
    font-family: "AppleSDGothicNeoM00";
    font-size: 1vw;
    text-align: center;
    line-height: 2vw;
    display: inline-flex;
    padding-right: 5%;
}

.following {
    font-family: "AppleSDGothicNeoM00";
    font-size: 1vw;
    text-align: center;
    line-height: 2vw;
    display: inline-flex;
}

/* Mypage persona Card */
.persona_card {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 96%;
    margin: 2.5% 0;
    height: 25vw;
    border-radius: 10px;
    column-gap: 1vw;
}

.one_persona_card {
    position: relative;
    box-sizing: border-box;
    width: 24%;
    box-shadow: 0px 3px 15px rgba(0, 67, 101, 0.15);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "AppleSDGothicNeoEB00";
    color: #3cda9f;
    font-size: 2vw;
    cursor: pointer;
}
.one_persona_card:hover {
    border: 2px solid #3cda9f;
}

.one_persona_cardImg {
    width: 3vw;
    height: 3vw;
    opacity: 75%;
}

.shadow {
    top: 100%;
    transform: translateY(-100%);
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(70, 70, 72, 0) 0%, #414141 100%);
    border-radius: 0px 0px 10px 10px;
}

.persona_card_update {
    font-family: "AppleSDGothicNeoB00";
    position: absolute;
    top: 1vh;
    right: 3.5vw;
    background-color: #3cda9f;
    color: white;
    border-radius: 5px;
    width: 2.5vw;
    height: 3.7vh;
    cursor: pointer;
}

.persona_card_delete {
    font-family: "AppleSDGothicNeoB00";
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    background-color: #3cda9f;
    color: white;
    border-radius: 5px;
    width: 2.5vw;
    height: 3.7vh;
    cursor: pointer;
}

.hideBtn:hover,
.persona_card_update:hover,
.persona_card_delete:hover {
    background-color: transparent;
    color: #3cda9f;
    border: 1px solid #3cda9f;
}

.hideBtn {
    font-family: "AppleSDGothicNeoM00";
    position: absolute;
    top: 90%;
    right: 5%;
    border-radius: 5px;
    background-color: #3cda9f;
    color: white;
    width: 4vw;
    height: 3vh;
    cursor: pointer;
}

.persona_card_name {
    position: absolute;
    color: #3cda9f;
    top: 79%;
    font-family: "AppleSDGothicNeoEB00";
    font-size: 2vw;
    margin-left: 1.5vw;
}

.persona_card_category {
    font-family: "AppleSDGothicNeoM00";
    position: absolute;
    color: white;
    font-size: 1vw;
    top: 90%;
    margin-left: 1.6vw;
}

.persona_card_button {
    font-family: "AppleSDGothicNeoM00";
    position: absolute;
    top: 90%;
    border: 1px solid #3cda9f;
    border-radius: 5px;
    background-color: transparent;
    color: #3cda9f;
    min-width: 5vw;
}

/* Settings */
.settingBtn {
    position: absolute;
    display: inline-flex;
    top: 4vw;
    left: 38vw;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.settingBtn:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* follow button */
.followingBtn {
    position: absolute;
    top: 14.5vw;
    left: 34.3vw;
    font-family: "AppleSDGothicNeoB00";
    z-index: 1;
    background: #3cda9f;
    border: 1px solid #3cda9f;
    padding: 0.3vw 1.7vw;
    box-shadow: 0px 2px 30px rgba(0, 67, 101, 0.08);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.followBtn {
    position: absolute;
    top: 14.5vw;
    left: 34.3vw;
    font-family: "AppleSDGothicNeoB00";
    z-index: 1;
    background-color: transparent;
    border: 1px solid #3cda9f;
    padding: 0.3vw 1.7vw;
    box-shadow: 0px 2px 30px rgba(0, 67, 101, 0.08);
    border-radius: 5px;
    cursor: pointer;
    color: #3cda9f;
}

/* Logout */
.logout {
    position: absolute;
    display: inline-flex;
    top: 8vw;
    left: 33vw;
    z-index: 1;
    background: #3cda9f;
    border: 1px solid #3cda9f;
    padding: 0.3vw 1.7vw;
    box-shadow: 0px 2px 30px rgba(0, 67, 101, 0.08);
    border-radius: 5px;
    cursor: pointer;
    font-family: "AppleSDGothicNeoB00";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.logout:hover {
    background-color: transparent;
    color: #3cda9f;
    border: 1px solid #3cda9f;
    border-radius: 5px;
}
